.maps-container {
    height: 40vh;
    width: 100vw;
    transition: height 1s, width 1s;
    overflow: hidden;
    margin: 10px;
    /*padding: 100px;*/
}

.home-page{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.chart-section {
    flex: 1 0 90%;
    margin: 0 10px 10px 10px;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 480px;
    /*gap: 10px;*/
    overflow: hidden;
    /*grid-auto-rows: minmax(10px, auto);*/
}

.weather-chart {
    margin: 0 10px 10px 10px;
    width: 100%;
}

.weather-chart .info-chart {
    height: 480px;
}

.weather-chart h2 {
    padding: 10px 10px 0 15px;
    margin: 0;
}

.date-slider {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-bottom: 20px;
}

.time-range {
    margin: 10px;
    margin-bottom: 25px;
}

.date-slider .MuiSlider-root {
    height: 15px;
    padding: 10px;
    margin: 0 50px 20px 50px;
    position: relative;
    z-index: 1;
}

.date-slider .MuiSlider-root::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    right: -25px;
    bottom: 0;
    background: var(--primary-color);
    z-index: -1;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.date-slider .MuiSlider-rail::before {
    background: var(--secondary-color);
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    right: 0;
    bottom: 0;
    border-radius: 15px;
}

.date-slider span{
    font-weight: bold;
    font-size-adjust: max(0.7);
}

.info-chart {
    position: relative;
    margin: 10px;
}

.info-chart > h3 {
    color: lightslategrey;
}

.home-page .maps-container div {
    background: initial;
    border-radius: initial;
}
